In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df = pd.read_csv(r'C:\Users\user\Downloads\Bank_Personal_Loan_Modelling.csv')
df.head()

,ID,Age,Experience,Income,ZIP Code,Family,CCAvg,Education,Mortgage,Personal Loan,Securities Account,CD Account,Online,CreditCard
0,1,25,1,49,91107,4,1.6,1,0,0,1,0,0,0
1,2,45,19,34,90089,3,1.5,1,0,0,1,0,0,0
2,3,39,15,11,94720,1,1.0,1,0,0,0,0,0,0
3,4,35,9,100,94112,1,2.7,2,0,0,0,0,0,0
4,5,35,8,45,91330,4,1.0,2,0,0,0,0,0,1

In [3]:
df.drop(['ID'],inplace=True,axis=1)

In [4]:
df.nunique()

Age                    45
Experience             47
Income                162
ZIP Code              467
Family                  4
CCAvg                 108
Education               3
Mortgage              347
Personal Loan           2
Securities Account      2
CD Account              2
Online                  2
CreditCard              2
dtype: int64

In [5]:
## Binning and Label Encoding

In [6]:
df['Age'] = pd.cut(df['Age'],bins=[23,30,45,67],labels=['Young','Adult','Old'])

In [7]:
df['Age'].value_counts()

Old      2481
Adult    1895
Young     612
Name: Age, dtype: int64

In [8]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
df['Age'] = le.fit_transform(df['Age'])

In [9]:
df['Age']

0       2
1       0
2       0
3       0
4       0
       ..
4995    2
4996    2
4997    1
4998    1
4999    2
Name: Age, Length: 5000, dtype: int32

In [10]:
df.columns

Index(['Age', 'Experience', 'Income', 'ZIP Code', 'Family', 'CCAvg',
       'Education', 'Mortgage', 'Personal Loan', 'Securities Account',
       'CD Account', 'Online', 'CreditCard'],
      dtype='object')

In [11]:
col = ['Age', 'Experience', 'Income', 'ZIP Code', 'Family', 'CCAvg', 'Education', 
       'Mortgage', 'Securities Account','CD Account', 'Online', 'CreditCard', 'Personal Loan']
df = df[col]

In [12]:
##Splitting the Data

In [13]:
x = df.iloc[:,:-1].values
y = df.iloc[:,-1].values

In [14]:
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.25)

In [15]:
#Neural Nets

In [16]:
from keras.models import Sequential
from keras.layers import Dense

keras = Sequential()
keras.add(Dense(12,input_dim=12,activation='relu'))
keras.add(Dense(8,activation='relu'))
keras.add(Dense(6,activation='relu'))

In [17]:
keras.add(Dense(1,activation='sigmoid'))

In [18]:
keras.compile(optimizer='adam',loss='binary_crossentropy',metrics=['accuracy'])

In [19]:
keras.fit(x_train,y_train,epochs=20,batch_size=25)

Epoch 1/20
150/150 [==============================] - 1s 1ms/step - loss: 167.7999 - accuracy: 0.7211
Epoch 2/20
150/150 [==============================] - 0s 924us/step - loss: 0.6309 - accuracy: 0.9016
Epoch 3/20
150/150 [==============================] - 0s 889us/step - loss: 0.5913 - accuracy: 0.9016
Epoch 4/20
150/150 [==============================] - 0s 1ms/step - loss: 0.5545 - accuracy: 0.9016
Epoch 5/20
150/150 [==============================] - 0s 850us/step - loss: 0.5213 - accuracy: 0.9016
Epoch 6/20
150/150 [==============================] - 0s 850us/step - loss: 0.4921 - accuracy: 0.9016
Epoch 7/20
150/150 [==============================] - 0s 930us/step - loss: 0.4665 - accuracy: 0.9016
Epoch 8/20
150/150 [==============================] - 0s 885us/step - loss: 0.4443 - accuracy: 0.9016
Epoch 9/20
150/150 [==============================] - 0s 904us/step - loss: 0.4252 - accuracy: 0.9016
Epoch 10/20
150/150 [==============================] - 0s 890us/step - loss: 0.4087 - accuracy: 0.9016
Epoch 11/20
150/150 [==============================] - 0s 1ms/step - loss: 0.3946 - accuracy: 0.9016
Epoch 12/20
150/150 [==============================] - 0s 1ms/step - loss: 0.3826 - accuracy: 0.9016
Epoch 13/20
150/150 [==============================] - 0s 910us/step - loss: 0.3723 - accuracy: 0.9016
Epoch 14/20
150/150 [==============================] - 0s 991us/step - loss: 0.3636 - accuracy: 0.9016
Epoch 15/20
150/150 [==============================] - 0s 1ms/step - loss: 0.3562 - accuracy: 0.9016
Epoch 16/20
150/150 [==============================] - 0s 1ms/step - loss: 0.3500 - accuracy: 0.9016
Epoch 17/20
150/150 [==============================] - 0s 917us/step - loss: 0.3448 - accuracy: 0.9016
Epoch 18/20
150/150 [==============================] - 0s 884us/step - loss: 0.3404 - accuracy: 0.9016
Epoch 19/20
150/150 [==============================] - 0s 910us/step - loss: 0.3367 - accuracy: 0.9016
Epoch 20/20
150/150 [==============================] - 0s 890us/step - loss: 0.3337 - accuracy: 0.9016

In [20]:
_,acc = keras.evaluate(x_train,y_train)
print(acc*100)

118/118 [==============================] - 0s 801us/step - loss: 0.3324 - accuracy: 0.9016
90.16000032424927

In [21]:
y_pred = keras.predict(x_test)
y_pred = (y_pred>0.5)

40/40 [==============================] - 0s 742us/step

In [22]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test,y_pred)

0.9112